.collection{
  position: relative;
  height: 480px;
  @include media-breakpoint-up(lg){
    height: 949px;
  }
  @include media-breakpoint-up(xxl){
    height: 984px;
  }
}

.bg-collection{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img1.jpg');
  @include bg;
  height: 864px;
}

.showBtn{
  &:hover{
    background: $gray-300;
  }
}

.bg-collectionBtn{
  position: absolute;
  right: 0;
  top: 864px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid $dark;
}

.collectBtn{
  a{
    border-right: 1px solid $dark;
    padding: 18px;
    &:first-child{
      border-left: 1px solid $dark;
    }
    &:hover{
      background: $secondary-light;
    }
    @include media-breakpoint-up(xxl){
      padding: 35px;
      padding-top: 36px;
    }
  }
  .title{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-size: $h5-font-size;
    @include media-breakpoint-up(xxl){
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: $h3-font-size;
    }
  }
}

.gear{
  height: 640px;
  @include media-breakpoint-up(lg){
    height: 960px;
  }
  .readBtn{
    bottom: 96px;
    right: 48px;
    @include media-breakpoint-up(lg){
      top: 50%;
      right: calc(50% - 56px);
      margin-top: -28px;
      bottom: auto;
    }
    p{
      background: $white;
      color: $primary;
      &:hover{
        background: $gray-300;
      }
    }
    i{
      background: $black;
      &:hover{
        background: $secondary;
      }
    }
  }
}

.bg-gear{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img2.jpg');
  @include bg;
}

.gearTitle{
  right: 48px;
  bottom: 192px;
  @include media-breakpoint-up(lg){
    right: 96px;
  }
}

.performance{
  position: relative;
  height: 640px;
  @include media-breakpoint-up(lg){
    height: 960px;
  }
}

.bg-performance{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img3.jpg');
  @include bg;
}

.performanceTitle{
  top: 192px;
  right: 48px;
  @include media-breakpoint-up(lg){
    left: 96px;
  }
}

.performanceBtn{
  bottom: 24px;
  right: 48px;
  @include media-breakpoint-up(lg){
    top: 50%;
    right: calc(50% - 56px);
    margin-top: -28px;
    bottom: auto;
  }
  p{
    background: $dark;
    &:hover{
      background: $secondary;
    }
  }
  i{
    background: $white;
    &:hover{
      background: $gray-300;
    }
  }
}

.motto{
  height: 640px;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img4.jpg') no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;
}

.mottoSaying{
  margin-bottom: 77px;
}

.card-img-top{
  height: 400px;
  object-fit: cover;
  @include media-breakpoint-up(lg){
    height: 600px;
  }
}
