$font-title: 'Merriweather', serif;

body{
  color: $secondary;
  overflow-x: hidden;
}


.font-title{
  font-family: $font-title;
  font-style: italic;
  color: $primary;
}

img{
  vertical-align: middle;
}

i{
  vertical-align: middle;
}

.main{
  margin-top: 97px;
  @include media-breakpoint-up(md) {
    margin-top: 100px;
  }
}